<div ng-include="'partials/header.html'"></div>
<div class="emblem-start">
    <header>
        <div class="cover"></div>
        <div class="container">
            <div class="inner-container" ng-init="runHomeSize();">
                <div class="intro-text col-md-12">
                    <div class="intro-lead-in"></div>
                    <div class="intro-heading"></div>
                    <button ng-click="apply()" class="apply">Get Started</button>
                </div>
            </div>


        </div>
    </header>
</div>
<div ng-include="'partials/footer.html'"></div>