<div id="container">
      

      
        <!-- Main Content-->

              <!-- Sidebar -->
  
          <aside id="sidemenu-container">
            <div id="sidemenu">
              <a href="javascript:void(0);" id="menu-trigger-close" class="close"><img width="20" src="/app/img/close.png"/></a>
              <div id="author-profile">
                <h2>15 Hermann St.</h2>
                <h3>Simi Valley, Ca - 94105</h3 >
              </div>
              <nav id="nav-container">
                <ul class="nav">
                  <li>
                    <a href="#" class="nav-with-ul dashboard">Dashboard</a>
                    </li><li>
                    <a href="#" class="nav-with-ul photos">Photos</a>
                    </li><li>
                    <a href="#" class="nav-with-ul crime-report">Crime Report</a>
                    </li><li>
                    <a href="#" class="nav-with-ul demographics">Demographics</a>
                    </li><li>
                    <a href="#" class="nav-with-ul salaries">Salaries</a>
                    </li><li>
                    <a href="#" class="nav-with-ul eat-drink">Eat & Drink</a>
                    </li><li>
                    <a href="#" class="nav-with-ul education">Education</a>
                    </li><li>
                    <a href="#" class="nav-with-ul transportation">Transportation</a>
                    </li><li>
                    <a href="#" class="nav-with-ul parks">Parks</a>
                  </li>
                </ul>
                <button class="apply-green">Apply for a mortgage</button>
              </nav>
            </div>
          </aside>

    <!-- =Sidebar -->

          <section id="content-container" class="dark">

                      <!-- Header -->

            <header id="header">
              <div id="menu-trigger" class="header-button left"></div>
              <input type="text" id="address-search" google-maps-input />
              <!-- <h1><a class='current' href="index.html">N<span class="icon-clock-1"></span>W</a></h1> -->
              <div class="main-info">
                <h1>15 Hermann St.</h1>
                <p>Simi Valley, CA - 94105</p>
              </div>
            </header>

          <!-- =Header -->
            <div id="map"></div>
            <article class="photo-container" id="photo-container">
                <img src="../app/img/photo-thumbnails/thumb-1.png" />
                <img src="../app/img/photo-thumbnails/thumb-2.png" />
                <img src="../app/img/photo-thumbnails/thumb-3.png" />
                <img src="../app/img/photo-thumbnails/thumb-4.png" />
                <img src="../app/img/photo-thumbnails/thumb-5.png" />
                <img src="../app/img/photo-thumbnails/thumb-1.png" />
                <img src="../app/img/photo-thumbnails/thumb-2.png" />
                <img src="../app/img/photo-thumbnails/thumb-3.png" />
                <img src="../app/img/photo-thumbnails/thumb-4.png" />
                <img src="../app/img/photo-thumbnails/thumb-5.png" />
            </article>
            <div id="content" class="blog">

                    

              <article class="overview" >
                <div class="wrapped-content">
                  <h2>An overview of {{neighborhood}}</h2>                  
                </div>

                
                

                <div class="wrapped-content col-md-6">
                  <p>
                    We’re not living in the “post-PC” era. Not by a long shot. As more of us work from home, or the plane, or the <a href="#">coffee shop</a>, laptops might be more. Aside post format. Important than they’ve ever been. They’ve also <strong>become harder</strong> and harder to buy, as hardware specs have hit.
                  </p>
                </div>

                <div class="wrapped-content col-md-6 map">
                  <div id="map-two"></div>
                </div>
              </article>


           

              
              <article class="crime-report">
                <h2>Crime Report</h2>
                {{data.foursquare.arts[0].name}}
              </article>

              <article class="demographics">
                <h2>Demographics</h2>
              </article>

              <article class="salaries">
                <h2>Salaries</h2>
              </article>

               <article class="coffees">
                <h2>Cafe</h2>
                 <ul class="coffees">
                  <li ng-repeat="coffees in data.foursquare.coffee | limitTo:10">
                    <img src="{{coffees.photos[0].url}}" />
                    <h3>{{coffees.name}}<h3>
                    <p>{{coffees.location.formattedAddress[0]}}</p>
                    <span class="hours">{{coffees.details.hours.status}}</span>
                    <span class="open-now" ng-class="{{coffees.details.hours.isOpen}}"></span>
                    <span class="distance">{{coffees.location.distance}}</span>

                  </li>
                </ul>
              </article>

              <article class="shop">
                <h2>Shopping</h2>
                 <ul class="shop">
                  <li ng-repeat="shop in data.foursquare.shops | limitTo:10">
                    <img src="{{shop.photos[0].url}}" />
                    <h3>{{shop.name}}<h3>
                    <p>{{shop.location.formattedAddress[0]}}</p>
                    <span class="hours">{{shop.details.hours.status}}</span>
                    <span class="open-now" ng-class="{{shop.details.hours.isOpen}}"></span>
                    <span class="distance">{{shop.location.distance}}</span>

                  </li>
                </ul>
              </article>

              <article class="foods">
                <h2>Food</h2>
                 <ul class="foods">
                  <li ng-repeat="foods in data.foursquare.food | limitTo:10">
                    <img src="{{foods.photos[0].url}}" />
                    <h3>{{foods.name}}<h3>
                    <p>{{foods.location.formattedAddress[0]}}</p>
                    <span class="hours">{{foods.details.hours.status}}</span>
                    <span class="open-now" ng-class="{{foods.details.hours.isOpen}}"></span>
                    <span class="distance">{{foods.location.distance}}</span>

                  </li>
                </ul>
              </article>

              <article class="nightlife">
                <h2>Nightlife</h2>
                <ul class="nightlife">
                  <li ng-repeat="drink in data.foursquare.drinks | limitTo:10">
                    <img src="{{drink.photos[0].url}}" />
                    <h3>{{drink.name}}<h3>
                    <p>{{drink.location.formattedAddress[0]}}</p>
                    <span class="hours">{{drink.details.hours.status}}</span>
                    <span class="open-now" ng-class="{{drink.details.hours.isOpen}}"></span>
                    <span class="distance">{{drink.location.distance}}</span>

                  </li>
                </ul>
              </article>

              <article class="education">
                <h2>Education</h2>
              </article>

              <article class="transportation">
                <h2>Transportation</h2>
              </article>

              <article class="weather">
                <h2>Weathers</h2>
              </article>

              <article class="outdoors">
                <h2>Outdoors</h2>
                 <ul class="outdoors">
                  <li ng-repeat="outdoor in data.foursquare.outdoors | limitTo:10">
                    <img src="{{outdoor.photos[0].url}}" />
                    <h3>{{outdoor.name}}<h3>
                    <p>{{outdoor.location.formattedAddress[0]}}</p>
                    <span class="hours">{{outdoor.details.hours.status}}</span>
                    <span class="open-now" ng-class="{{outdoor.details.hours.isOpen}}"></span>
                    <span class="distance">{{outdoor.location.distance}}</span>

                  </li>
                </ul>
              </article>


              <article class="things-to-see">
                <h2>Things to see</h2>
                 <ul class="sights">
                  <li ng-repeat="sight in data.foursquare.sights | limitTo:10">
                    <img src="{{sight.photos[0].url}}" />
                    <h3>{{sight.name}}<h3>
                    <p>{{sight.location.formattedAddress[0]}}</p>
                    <span class="hours">{{sight.details.hours.status}}</span>
                    <span class="open-now" ng-class="{{sight.details.hours.isOpen}}"></span>
                    <span class="distance">{{sight.location.distance}}</span>

                  </li>
                </ul>
              </article>


           

            </div>

          </section>

        <!-- =Main Content -->
      

      

      </div>
    <!-- =Container -->


      
