<div id="container">
      

      
        <!-- Main Content-->

              <!-- Sidebar -->
  
          <aside id="sidemenu-container">
            <div id="sidemenu">
              <a href="javascript:void(0);" id="menu-trigger-close" class="close"><img width="20" src="/app/img/close.png"/></a>
              <div id="author-profile">
                <h2>15 Hermann St.</h2>
                <h3>Simi Valley, Ca - 94105</h3 >
              </div>
              <nav id="nav-container">
                <ul class="nav">
                  <li>
                    <a href="#" class="nav-with-ul dashboard">Dashboard</a>
                    </li><li>
                    <a href="#" class="nav-with-ul photos">Photos</a>
                    </li><!-- <li>
                    <a href="#" class="nav-with-ul crime-report">Crime Report</a>
                    </li><li>
                    <a href="#" class="nav-with-ul demographics">Demographics</a>
                    </li><li>
                    <a href="#" class="nav-with-ul salaries">Salaries</a>
                    </li><li> -->
                    <a href="#" class="nav-with-ul eat-drink">Eat & Drink</a>
                    </li><li>
                    <a href="#" class="nav-with-ul education">Education</a>
                    </li><li>
                    <a href="#" class="nav-with-ul transportation">Transportation</a>
                    </li><li>
                    <a href="#" class="nav-with-ul parks">Parks</a>
                  </li>
                </ul>
                <button class="apply-green">Apply for a mortgage</button>
              </nav>
            </div>
          </aside>

    <!-- =Sidebar -->

          <section id="content-container" class="dark">

                      <!-- Header -->

            <header id="header">
              <img width="150" style="margin-left:20px;margin-top:20px;" src="../app/img/clubhowse-12.svg" />
              <!-- <div id="menu-trigger" class="header-button left"></div> -->
              <input type="text" id="address-search" google-maps-input />
              <!-- <h1><a class='current' href="index.html">N<span class="icon-clock-1"></span>W</a></h1> -->
              <div class="main-info">
                <h1>{{loc.address.street_address}}</h1>
                <p>{{loc.address.city}}, {{loc.address.state}} - {{loc.address.zip}}</p>
              </div>
            </header>

          <!-- =Header -->
            <div id="map"></div>
             <article class="photo-container" id="photo-container">
                <img ng-repeat="photo in data.photos" src="{{photo}}" />
              </article>
           
            <div id="content" class="blog">

                    

              <article class="overview" >
                <div class="wrapped-content">
                  <h2>overview of {{loc.address.street_address}} {{loc.address.city}}, {{loc.address.state}}</h2>                  


                
                

                <div class="wrapped-content col-md-6">

                    <ul>
                      <li class="homes">
                           <span class="neighboorhood" style="font-size:36px;color:#ff4d70 !important;font-family:'open sans'">{{data.zillow.principal.localRealEstate.region._name}}</span>
                      <span class="price" style="font-size:32px;">{{data.zillow.principal.zestimate.amount.__text | currency:"$"}}</span>
                          
                          <span class="high">{{data.zillow.principal.zestimate.valuationRange.high.__text | currency:"$"}}</span>
                          <span class="low">{{data.zillow.principal.zestimate.valuationRange.low.__text | currency:"$"}}</span>
                          <a href="{{data.zillow.principal.links.comparables}}" target="_blank">Comparables</a>
                          <a href="{{data.zillow.principal.links.graphsanddata}}" target="_blank">Graphs and Data</a>
                          <a href="{{data.zillow.principal.links.homedetails}}" target="_blank">Home Details</a>
                          <a href="{{data.zillow.principal.links.mapthishome}}" target="_blank">Map This Home</a>
                      </li>

                      <button style="background:#50d2c2;color:#fff;border-radius:4px;float:left;clear:both;">Get approved for this home</button>
                    </ul>



                  <!-- <p ng-init="runWiki()">
                    {{wiki}}
                  </p> -->
                </div>

                <div class="wrapped-content col-md-4 map">
                  <div id="map-two"></div>
                </div>
                <div class="wrapped-content col-md-12 map">


                    <h2>Comparable Homes</h2>
                    <ul>
                      <li class="homes" ng-repeat="house in data.zillow.comparables | limitTo:6">
                          <p>{{house.address.street}} {{house.address.city}} {{house.address.state}} {{house.address.zip}}</p>
                          <span class="price">${{house.zestimate.amount.__text}}</span>
                          <span class="neighboorhood">{{house.localRealEstate.region._name}}</span>
                          <span class="high">${{house.zestimate.valuationRange.high.__text}}</span>
                          <span class="low">${{house.zestimate.valuationRange.low.__text}}</span>
                          <a href="{{house.links.comparables}}" target="_blank">Comparables</a>
                          <a href="{{house.links.graphsanddata}}" target="_blank">Graphs and Data</a>
                          <a href="{{house.links.homedetails}}" target="_blank">Home Details</a>
                          <a href="{{house.links.mapthishome}}" target="_blank">Map This Home</a>
                      </li>
                    </ul>
                 </div>
                </div>
              </article>


           
<!-- 
              
              <article class="crime-report">
                <div class="wrapped-content">
                  <h2>Crime Report</h2>
                  {{data.foursquare.arts[0].name}}
                </div>
              </article>

              <article class="demographics">
                <div class="wrapped-content">
                  <h2>Demographics</h2>
                </div>
              </article>

              <article class="salaries">
                <div class="wrapped-content">
                  <h2>Salaries</h2>
                </div>
              </article> -->

               <article class="col-md-6 coffees">
                 <div class="wrapped-content">
                    <h2>Cafe <span>{{data.scores.coffee}}</span></h2>
                     <ul class="coffees">
                      <li ng-repeat="coffees in data.foursquare.coffee | limitTo:6">
                      <a href="{{coffees.url}}" target="_blank">
                        <img src="{{coffees.photos[0].url}}" />
                        <h3>{{coffees.name}}<h3>
                        <p>{{coffees.location.formattedAddress[0]}}</p>
                      <label ng-class="{'open' : coffees.details.hours.isOpen}"></label>
                        <span class="hours">{{coffees.details.hours.status}}</span>
                        <span class="distance">{{coffees.location.distance}} m</span>
                        </a>
                      </li>
                    </ul>
                  </div>
              </article>

              <article class="col-md-6 shop">
                <div class="wrapped-content">
                   <h2>Shopping <span>{{data.scores.shops}}</span></h2>
                   <ul class="shop">
                    <li ng-repeat="shop in data.foursquare.shops | limitTo:6">
                    <a href="{{shop.url}}" target="_blank">
                      <img src="{{shop.photos[0].url}}" />
                      <h3>{{shop.name}}<h3>
                      <p>{{shop.location.formattedAddress[0]}}</p>
                      <label ng-class="{'open' : shop.details.hours.isOpen}"></label>
                      <span class="hours">{{shop.details.hours.status}}</span>
                      <span class="distance">{{shop.location.distance}} m</span>
 </a>
                    </li>
                  </ul>
                </div>
              </article>

              <article class="col-md-6 foods">
                <div class="wrapped-content">
                <h2>Food <span>{{data.scores.food}}</span></h2>
                 <ul class="foods">
                  <li ng-repeat="foods in data.foursquare.food | limitTo:6">
                  <a href="{{foods.url}}" target="_blank">
                    <img src="{{foods.photos[0].url}}" />
                    <h3>{{foods.name}}<h3>
                    <p>{{foods.location.formattedAddress[0]}}</p>
                      <label ng-class="{'open' : foods.details.hours.isOpen}"></label>
                    <span class="hours">{{foods.details.hours.status}}</span>
                    <span class="distance">{{foods.location.distance}} m</span>
                     </a>
                  </li>
                </ul>
                </div>
              </article>

              <article class="col-md-6 nightlife">
               <div class="wrapped-content">
                <h2>Nightlife <span>{{data.scores.drinks}}</span></h2>
                <ul class="nightlife">
                  <li ng-repeat="drink in data.foursquare.drinks | limitTo:6">
                  <a href="{{drink.url}}" target="_blank">
                    <img src="{{drink.photos[0].url}}" />
                    <h3>{{drink.name}}<h3>
                    <p>{{drink.location.formattedAddress[0]}}</p>
                      <label ng-class="{'open' : drink.details.hours.isOpen}"></label>
                    <span class="hours">{{drink.details.hours.status}}</span>
                    <span class="distance">{{drink.location.distance}} m</span>
 </a>
                  </li>
                </ul>
              </div>
              </article>

            <!--   <article class="col-md-6 education">
                <div class="wrapped-content">
                  <h2>Education</h2>
                </div>
              </article>

              <article class="col-md-6 transportation">
                <div class="wrapped-content">
                  <h2>Transportation</h2>
                </div<
              </article> -->

           <!--    <article class="col-md-6 weather">
                <div class="wrapped-content">
                  <h2>Weather</h2>
                </div>
              </article>
 -->
              <article class="col-md-6 outdoors">
                <div class="wrapped-content">
                <h2>Recreation <span>{{data.scores.outdoors}}</span></h2>
                 <ul class="outdoors">
                  <li ng-repeat="outdoor in data.foursquare.outdoors | limitTo:6">
                  <a href="{{outdoor.url}}" target="_blank">
                    <img src="{{outdoor.photos[0].url}}" />
                    <h3>{{outdoor.name}}<h3>
                    <p>{{outdoor.location.formattedAddress[0]}}</p>
                                          <label ng-class="{'open' : outdoor.details.hours.isOpen}"></label>

                    <span class="hours">{{outdoor.details.hours.status}}</span>
                    <span class="distance">{{outdoor.location.distance}} m</span>
                     </a>
                  </li>
                </ul>
              </div>
              </article>


              <article class="col-md-6 things-to-see">
                <div class="wrapped-content">
                  <h2>Things to see <span>{{data.scores.sights}}</span></h2>
                   <ul class="sights">
                    <li ng-repeat="sight in data.foursquare.sights | limitTo:6">
                    <a href="{{sight.url}}" target="_blank">
                      <img src="{{sight.photos[0].url}}" />
                      <h3>{{sight.name}}<h3>
                      <p>{{sight.location.formattedAddress[0]}}</p>
                      <label ng-class="{'open' : sight.details.hours.isOpen}"></label>
                      <span class="hours">{{sight.details.hours.status}}</span>
                      <span class="distance">{{sight.location.distance}} m</span>
                       </a>
                    </li>
                  </ul>
                </div>
              </article>


           

            </div>

          </section>

        <!-- =Main Content -->
      

      

      </div>
    <!-- =Container -->


      
